{% extends 'base.html.twig' %}

{% block body %}
<style>
  th, td {
    padding: 10px;
  }
  th {
    text-align: right;
  }
</style>

<h1>Create or Update Category:</h1>
{% if errors is not empty %}
<div class="container">
    <div class="msg msg-error z-depth-3 scale-transition"> 
      <h4>No se pudo realizar el guardado debido a:</h4>
      <ul>
      {% for error in errors %}
          <li>{{ error.message }}</li>
      {% endfor %}
      </ul>
    </div>
</div>
{% endif %}
<div class="row">
      {{ form_start(form) }}
      <div class="row">
        <div class="input-field col s6">
          {{ form_widget(form.code) }}
          <label for="code">Code:</label>
        </div>
        <div class="input-field col s6">
          {{ form_widget(form.name) }}
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form_widget(form.description , { 'attr': {'class': 'materialize-textarea'} }) }}
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form_widget(form.active) }}
          <label for="active">active</label>
        </div>
      </div>
      {{ form_end(form) }}
  </div>
{% endblock %}